<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon name="calendar-number-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="events" href="/tabs/events">
      <ion-icon name="star-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="analytics" href="/tabs/analytics">
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
