:root {
	--ion-color-primary: #63b0bb;
	--ion-color-primary-rgb: 99,176,187;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #579ba5;
	--ion-color-primary-tint: #73b8c2;

	--ion-color-secondary: #5a83a0;
	--ion-color-secondary-rgb: 90,131,160;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #4f738d;
	--ion-color-secondary-tint: #6b8faa;

	--ion-color-tertiary: #a26dba;
	--ion-color-tertiary-rgb: 162,109,186;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #8f60a4;
	--ion-color-tertiary-tint: #ab7cc1;

	--ion-color-success: #9ed1ac;
	--ion-color-success-rgb: 158,209,172;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #8bb897;
	--ion-color-success-tint: #a8d6b4;

	--ion-color-warning: #ddc77e;
	--ion-color-warning-rgb: 221,199,126;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #c2af6f;
	--ion-color-warning-tint: #e0cd8b;

	--ion-color-danger: #db8a91;
	--ion-color-danger-rgb: 219,138,145;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #c17980;
	--ion-color-danger-tint: #df969c;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}
