<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Daily
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Daily</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h3>Date: {{ get_selected_date() }}</h3>
    <!-- <ion-datetime calss="datetime" presentation="date"></ion-datetime> -->
    <h3>How was your day?</h3>
    <ul id="emotions-list" style="list-style: none;">
      <li>Energy
        <ion-range aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="0" [max]="10" [pin]="true"></ion-range>
      </li>
      <li>Happiness
        <ion-range aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="0" [max]="10" [pin]="true"></ion-range>
      </li>
      <li>Stress
        <ion-range aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="0" [max]="10" [pin]="true"></ion-range>
      </li>
    </ul>
    <h3>Any events?</h3>
  </div>
</ion-content>
