ion-datetime {
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

#emotions-list {
  width: 80%;
}

ion-range::part(pin) {
  color: var(--ion-color-light);
  transform: scale(1);
  // transform: scale(1.01);
  top: -20px;
}
